**EXPLORACIÓN DE LA TENDENCIA DE MERCADO DE AIRBNB**

In [2]:
#importar librerías
import pandas as pd

In [16]:
#cargar los archivos
df_review = pd.read_csv('/content/airbnb_last_review.tsv', sep = '\t')
df_price = pd.read_csv('/content/airbnb_price.csv')
df_room_type = pd.read_excel('/content/airbnb_room_type.xlsx')

#imprimir las 5 primeras filas
print(df_review.head())
print(df_price.head())
print(df_room_type.head())

   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019
   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt

In [17]:
#unir los archivos en un df

df_airbnb = pd.merge(df_review, df_price, on = 'listing_id', how = 'inner')
df_airbnb = pd.merge(df_airbnb, df_room_type, on = 'listing_id', how = 'inner')

df_airbnb.head()

,listing_id,host_name,last_review,price,nbhood_full,description,room_type
0,2595,Jennifer,May 21 2019,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt
1,3831,LisaRoxanne,July 05 2019,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt
2,5099,Chris,June 22 2019,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt
3,5178,Shunichi,June 24 2019,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room
4,5238,Ben,June 09 2019,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt

In [18]:
#análisis exploratorio de las columnas
df_airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  object
 3   price        25209 non-null  object
 4   nbhood_full  25209 non-null  object
 5   description  25199 non-null  object
 6   room_type    25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [19]:
#Transformar la columna last_price a fecha
df_airbnb['last_review'] = pd.to_datetime(df_airbnb['last_review'], format = '%B %d %Y')

print(df_airbnb.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  datetime64[ns]
 3   price        25209 non-null  object
 4   nbhood_full  25209 non-null  object
 5   description  25199 non-null  object
 6   room_type    25209 non-null  object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 1.3+ MB
None

In [20]:
#Remover la palabra dollars de la columna price
df_airbnb['price'] = df_airbnb['price'].astype(str).str.replace(' dollars', '')
print(df_airbnb.head())

#Transformar la columna price a un float
df_airbnb['price'] = df_airbnb['price'].astype(float)
print(df_airbnb.info())

   listing_id    host_name last_review price                nbhood_full  \
0        2595     Jennifer  2019-05-21   225         Manhattan, Midtown
1        3831  LisaRoxanne  2019-07-05    89     Brooklyn, Clinton Hill
2        5099        Chris  2019-06-22   200     Manhattan, Murray Hill
3        5178     Shunichi  2019-06-24    79  Manhattan, Hell's Kitchen
4        5238          Ben  2019-06-09   150       Manhattan, Chinatown

                                 description        room_type
0                      Skylit Midtown Castle  Entire home/apt
1            Cozy Entire Floor of Brownstone  Entire home/apt
2  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3            Large Furnished Room Near B'way     private room
4         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   host_name    25201 non-null  object
 2   last_review  25209 non-null  datetime64[ns]
 3   price        25209 non-null  float64
 4   nbhood_full  25209 non-null  object
 5   description  25199 non-null  object
 6   room_type    25209 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 1.3+ MB
None

In [22]:
#explorar la columna room_type
#print(df_airbnb.groupby('room_type').count())

#Transformar la columna room_type a minúsculas
df_airbnb['room_type'] = df_airbnb['room_type'].str.lower()
print(df_airbnb.groupby('room_type').count())

                 listing_id  host_name  last_review  price  nbhood_full  \
room_type
entire home/apt       13266      13262        13266  13266        13266
private room          11356      11352        11356  11356        11356
shared room             587        587          587    587          587

                 description
room_type
entire home/apt        13266
private room           11346
shared room              587

**1. Desafio 1: ¿Cuáles son las fechas de las revisiones más antiguas y más recientes? Almacene estos valores como dos variables separadas con los nombres que prefiera.**

In [24]:
#Fecha más antigua de la revisión
primera_revision = df_airbnb['last_review'].min()
print(primera_revision)

#Ultima revision
ultima_revision = df_airbnb['last_review'].max()
print(ultima_revision)

2019-01-01 00:00:00
2019-07-09 00:00:00

**2. Desafio 2: ¿Cuántos de los anuncios son habitaciones privadas? Guarda esto en cualquier variable.**

In [28]:
#Cantidad de avitaciones privadas
private_room = df_airbnb[df_airbnb['room_type'] == 'private room']['room_type'].value_counts()
print(private_room)

room_type
private room    11356
Name: count, dtype: int64

**3. Desafio 3: ¿Cuál es el precio medio de venta? Redondea al número más cercano con dos decimales y guárdalo en una variable.**

In [29]:
# Promedio del precio de venta de las habitaciones
avg_price = round(df_airbnb['price'].mean(), 2)
print(avg_price)

141.78

**Combina las nuevas variables en un DataFrame llamado review_dates con cuatro columnas en el siguiente orden: first_reviewed, last_reviewed, nb_private_rooms y avg_price. El DataFrame solo debe contener una fila de valores.**

In [36]:
#crear un dataframe
review_dates = pd.DataFrame({
    'first_reviewed': primera_revision,
    'last_reviewed': ultima_revision,
    'nb_private_rooms': private_room.values,
    'avg_price': avg_price,

})
print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78

In [37]:
#exportar el df
df_airbnb.to_csv('airbnb.csv', index = False)